.featured {
    border-radius: 20px;
    transition: box-shadow 0.3s;
    width: 900px;
    display: flex;
    flex-direction: row;
}

.featured:hover {
    box-shadow: 4px 4px 30px black;
}

.featuredImage {
    height: 300px;
    border-radius: 20px;
    margin: 5px;
    padding: 20px;
    border-radius: 30px;
}

.details {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.details p span {
    color: #363062;
    font-weight: bold;
    text-shadow: 1px 1px #4D4C7D;
}
