.featured {
    border-radius: 20px;
    transition: box-shadow 0.3s;
    width: 900px;
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    border: 1px solid #d1d1d1;
    margin-left: 75px;
}

.featured:hover {
    box-shadow: 4px 4px 30px black;
}

.featuredImage {
    height: 300px;
    border-radius: 20px;
    margin: 5px;
    padding: 20px;
    border-radius: 30px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 2px;
    width: 100%;
    font-weight: bold;
}

.details {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.details p span {
    color: #363062;
    font-weight: bold;
    text-shadow: 1px 1px #4D4C7D;
}


#next {
    width: fit-content;
    margin: auto 60px;
  }

#apply {
    height: fit-content;
    font-size: 1.0rem;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
    margin-top: 300px;
    margin-left: 75px;
    background-color: white;
}