.sidebar {
    background-color: #363062;
    color: white;
    width: fit-content;
    padding: 0 30px;
    height: 100%;
    margin: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-shadow: 3px 3px black;
}

.greeting {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.profileImage {
    margin-top: 7.5px;
    margin-right: 15px;
    height: 40px;
    width: 40px ;
    border-radius: 50%;
    border: 2px solid white;
}

.links {
    margin-top: 150px;
    background-color: #4D4C7D;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
}

.links a {
    margin: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 3px 3px black;
    transition: transform 0.3s;
    text-decoration: none;
    color: whi;
}

.links a:hover {
    transform: scale(1.3);
}

.lo {
    position: absolute;
    bottom: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: underline;
    text-shadow: none;
}