.content-p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 350px;
}

h1 {
    font-size: 2.5rem;
    margin: 40px;
    margin-left: 35%;
}

.profileForm {
    margin-left: 20%;
}

.field {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 450px;
    margin: 20px;
}

.field h3 {
    text-align: left;
    width: fit-content;
}

.field input[type=text] {
    width: 200px;
    height: 20px;
    margin: auto 30px;
}

#submit {
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    font-size: 1.1rem;
    width: fit-content;
    margin-left: 240px;
    margin-top: 20px;
    cursor: pointer;
}
