.regBlock {
    height: 400px;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin: 10% auto;
    background-color: #f1f1f1;
    border: 1px solid #a7a7a7;
}

.regBlock h1 {
    margin-left: 35%;
}

.regBlock label {
    font-weight: bold;
    font-size: 1.5rem;
}

.regField {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: fit-content;
    margin: 20px 0;
    margin-left: 15%;
}

.regField input[type=text] {
    height: 20px;
    margin: auto 20px;
}

.regField input[type=password] {
    height: 20px;
    margin: auto 20px;
}

.regBtnRow {
    margin-left: 42.5%;
}

.regBtn {
    cursor: pointer;
    background-color: white;
    padding: 7.5px;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.selUserType {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: fit-content;
    margin: 20px 0;
    margin-left: 25%;
}

.selUserType label {
    font-size: 1.2rem;
    width: fit-content;
}

.selUserType select {
    margin: 0 10px;
}